/*-------------------------------------------
PLACEHOLDERS
------------------------------------------- */
// ------ Links
// ------ Images

%img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// ------ Headlines
// ------ Nav items

%btn {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
    color: $white;
    font-size: 0.8em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
