// ======================================
//  Variables
// ======================================
/* -------------------------------------------
Colors
-------------------------------------------*/
// basic
$white: #fff;
$silver: #C0C0C0;
$black: #000;

// webpage specific colors
        $cornflower-blue: #51ddfc;
                $emerald: #63cc82;
                 $sunglo: #e4757a;
                  $coral: #fd7856;
$purple-mountain-majesty: #927bc1;

$themes: (
    default: $cornflower-blue,
    success: $emerald,
      error: $sunglo,
    warning: $coral,
       info: $purple-mountain-majesty
);


$color-primary: map-get($themes, success);
$color-secondary: map-get($themes, default);

/* -------------------------------------------
Fonts
-------------------------------------------*/
$font-stack-sansserif: Helvetica, Verdana, sans-serif;
$font-stack-serif: Georgia, TimesNewRoman, serif;
$font-stack-mono: "Courier New", Courier, monospace;

/* -------------------------------------------
Fonts size
-------------------------------------------*/
$base__font-size: 16px;
$base__line: 24px;

/* -------------------------------------------
Breakpoints
-------------------------------------------*/
$breakpoints: (
     "small": 768px,
    "middle": 1024px,
       "big": 3440px
);
