// ======================================
//  Variables
// ======================================
// Colors
$white: #fff;
$black: #000;

$color-1: #2d3945;
$color-1-light10: lighten($color-1, 10);
$color-1-light20: lighten($color-1, 20);
$color-1-light50: lighten($color-1, 50);
$color-1-light80: lighten($color-1, 80);
$color-1-dark10: darken($color-1, 10);
$color-1-dark20: darken($color-1, 20);
$color-1-dark50: darken($color-1, 50);
$color-1-dark80: darken($color-1, 80);
$color-1-gray: grayscale($color-1);
$color-1-complement: complement($color-1);
$color-1-invert: invert($color-1);

$color-2: #4ebbb5;
$color-3: #003366;



// Fonts

$font-stack-sansserif: Helvetica, Verdana, sans-serif;
$font-stack-serif: Georgia, TimesNewRoman, serif;
$font-stack-mono: "Courier New", Courier, monospace;
