// ========================================
// GRID IMPORTS
// ========================================

.grid {
    &__row {
        @include mq(small) {
            margin-top: 2em;
            margin-bottom: 2em;
        }
        @include mq(middle) {
            margin-top: 2em;
            margin-bottom: 3em;
        }
    }
    @at-root [class^="grid__col"] {
        @extend %btn-round-box;
    }
    @include mq(middle) {
        &__row {
            @include flexy($justify: space-around);
        }
        @for $i from 1 through $g-col-count {
            $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
            $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

            &__col--#{$i} {
                width: percentage($target / $context);
            }
        }
    }
}
