// -------------------------------------------
// BUTTONS
// -------------------------------------------

[class^="btn--"] {
    @extend %btn-round-box;
    color: $white;
    text-transform: uppercase;
    @include mq(small) {
        width: 100%;
    }
    @include mq(middle) {

    };
};
