// -------------------------------------------
PLACEHOLDERS
// -------------------------------------------
// ------ Links

%link {
    text-decoration: none;
    color: $color-secondary;
}
// ------ Images

%img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// ------ Headlines

%hdln-prim {
    color: $black;
    letter-spacing: -2px;
    margin-left: 0.5em;
};

%hdln-sec {
    color: $silver;
    font-weight: normal;
    margin-left: 0.5em;
};
// ------ Nav items

%round-box-btn {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
    color: $white;
    font-size: 0.8em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
