/* -------------------------------------------
IMAGE Styling
------------------------------------------- */

.img-- {
    &logo {
        @extend %img;
        margin: 2em auto;
    }
    &avatar {
        @extend %img;
    }

    &frame {
        @extend %img;
        width: 100%;
        padding: 0.8em;
        border: 1px solid $color-1-gray;
        box-shadow: 0 0 0.5px $color-1-gray;
        margin: 0 auto 1em;;
    }
}
