/* -------------------------------------------
TEXT Styling
------------------------------------------- */

.headline-- {
    &primary {
        color: $black;
        letter-spacing: -2px;
        margin-left: 0.5em;
    }

    &secondary {
        color: $silver;
        font-weight: normal;
        margin-left: 0.5em;
    }
}
// hyperlink in text styling

.link {
    @extend %link;
    font-weight: bold;
}
// a block of quotes

.blockquote {
    font-style: oblique;
    font-size: 1.4em;
    color: $silver;
    padding-left: 1em;
    border-left: 0.5em solid $color-primary;
    border-radius: 10px;
}
