// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
    font-family: $font-stack-sansserif;
}

ul {
    margin-bottom: 5em;
}

p {
    color: lighten($black, 70);
}
