// ======================================
//  Base Styles
// ======================================

* {
    box-sizing: border-box;
    font-family: $font-stack-sansserif;
    font-size: $base__font-size;
    line-height: ($base__line / $base__font-size)
}

ul {
}

p {
}
